.tan-card {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100px;
    background-color: #212c50;
    margin-top: 10px;
    border-radius: 1rem;
}

.tan-type {
    color: rgb(90, 90, 90);
    background-color: #343f63;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    
}

.tan-card-content {
    color: rgb(80, 73, 145);
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1rem;
}